
.container {
  margin: 0 auto;
  max-width: 600px;
  padding-top:15px;

}

h1 {
  text-align: center;
  margin-top: 30px;
}

/deep/ .auth-modal .modal-body {
   min-width: 400px;
}

.form-row {
  width: 500px;
  margin-bottom: 5px;
}

.form-field {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-field label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 5px;
  font-size: 20px;
}

input {
  height: 40px;
  border-radius: 2px;
}

input, textarea {
  border: 1px solid grey;
}

.modal-buttons {
  margin-top: 20px;
  margin-left: 50px;
}
